@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto+Slab:wght@300&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #370355;
background: radial-gradient(circle, rgba(55,3,85,1) 0%, rgba(15,1,62,1) 100%);
    /* background: rgb(68,8,103);
    background: radial-gradient(circle, rgba(68,8,103,1) 0%, rgba(21,2,88,1) 100%); */
    align-items: center;
}
img{
    position: absolute;
    float: right;
    right: 0px;
    z-index: -1;
    width: 800px;
    /* opacity: 0.7; */
}
.app-title{
    color: whitesmoke;
    text-align: left;
    font-size: 70px;
    position: relative;
    top: 20px;
    padding: 30px;
    font-family: 'Roboto Slab', serif;
    
}
label{
    color: #a300ff;
    text-shadow: 1px 1px 1px rgb(153, 151, 151);
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 20px;
    font-family: 'Raleway', sans-serif;
}
.wrapper{
    text-align: left;
}
.content{
    padding-left: 50px;
}
#amount{
    width: 18%;
    padding: 10px 0;
    margin: 30px 0;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
#fromCurrency{
    padding: 0px 40px 0px 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #370355;
    font-size: 30px;
    width: 18%;
    text-shadow: 1px 1px 1px grey;
}
#toCurrency{
    padding: 0px 40px 0px 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: #370355;
    font-size: 30px;
    width: 18%;
    text-shadow: 1px 1px 1px grey;
}
#convert-but{
    margin-right: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    width: 39%;
    font-size: 30px;
    background-color: transparent;
    padding: 10px 0;
    border-radius: 10px;
    text-shadow: 1px 1px 1px grey;
}
#result{
    color: #ffffff;
    font-size: 30px;
    border-bottom: 2px solid white;
    width: 17.3%;
    position: absolute;
    top:342.5px;
    left: 305px;
}